@model issFinacial.Models.LoanEntry

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript" src="~/assets/webcamjs/webcam.min.js"></script>
<style>

    #my_camera {
        width: 300px;
        height: 230px;
        border: 1px solid black;
    }
</style>
<style>

    #camera {
        width: 300px;
        height: 230px;
        border: 1px solid black;
    }
</style>

<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Loan Entry</span> - Create</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-bars-alt text-pink"></i>
                    <span>Statistics</span>
                </a>
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-calculator text-pink"></i>
                    <span>Invoices</span>
                </a>
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-calendar5 text-pink"></i>
                    <span>Schedule</span>
                </a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
                <span class="breadcrumb-item active">Loan Entry</span>
            </div>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="#" class="breadcrumb-elements-item">
                    <i class="icon-comment-discussion mr-2"></i>
                    Support
                </a>
                <div class="breadcrumb-elements-item dropdown p-0">
                    <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-gear mr-2"></i>
                        Settings
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                        <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                        <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />



<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Loan Entry</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body" style="border: 1px solid #0c5ade;">
                        <div class="subtitle"><h4>Perosnal Details</h4></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">

                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer Code " } })
                                        @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                                    </div>



                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer Name" } })
                                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                                    </div>



                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.fatherName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Father Name" } })
                                        @Html.ValidationMessageFor(model => model.fatherName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Address" } })
                                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.areaName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Area Name" } })
                                        @Html.ValidationMessageFor(model => model.areaName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.identityproof, new { htmlAttributes = new { @class = "form-control", @placeholder = "Identity Proof" } })
                                        @Html.ValidationMessageFor(model => model.identityproof, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type" } })
                                        @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="thumb thumb-rounded thumb-slide">
                                            <label>Customer Image</label>

                                            <img id="user_img" class="uk-file-upload" style="height:125px;width:175px;border:thick" />
                                            <br />
                                            <br />
                                            <input type=button value="Take Snapshot" onClick="take_snapshot()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="thumb thumb-rounded thumb-slide">
                                            <label>Camera Preview</label>
                                            <div id="my_camera"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="subtitle"><h4>Lone Details</h4></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label>Date</label>
                                    @Html.TextBoxFor(m => m.loanDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })

                                </div>

                                <div class="form-group col-md-4">
                                    @Html.EditorFor(model => model.billNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Bill No" } })
                                    @Html.ValidationMessageFor(model => model.billNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card-body" style="border: 1px solid #0c5ade;">
                        <div class="subtitle"><h4>Item Details</h4></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.sNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "S.No" } })
                                        @Html.ValidationMessageFor(model => model.sNo, "", new { @class = "text-danger" })
                                    </div>


                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.itemName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Item Name" } })
                                        @Html.ValidationMessageFor(model => model.itemName, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.itemType, new { htmlAttributes = new { @class = "form-control", @placeholder = "Item Type" } })
                                        @Html.ValidationMessageFor(model => model.itemType, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.gramValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gram value" } })
                                        @Html.ValidationMessageFor(model => model.gramValue, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.queality, new { htmlAttributes = new { @class = "form-control", @placeholder = "Quality" } })
                                        @Html.ValidationMessageFor(model => model.queality, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.grossWeight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Gross Weight" } })
                                        @Html.ValidationMessageFor(model => model.grossWeight, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.netWeight, new { htmlAttributes = new { @class = "form-control", @placeholder = "Net Weight" } })
                                        @Html.ValidationMessageFor(model => model.netWeight, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group col-md-4">
                                        @Html.EditorFor(model => model.itemValue, new { htmlAttributes = new { @class = "form-control", @placeholder = "Value" } })
                                        @Html.ValidationMessageFor(model => model.itemValue, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="thumb thumb-rounded thumb-slide">
                                            <label>Item Image</label>
                                            <img id="itemImage" class="uk-file-upload" style="height:125px;width:175px;border:thick" />
                                            <br />
                                            <br />
                                            <input type=button value="Take Snapshot" onClick="Item_snapshot()">
                                        </div>
                                    </div>
                                </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                    <div class="thumb thumb-rounded thumb-slide">
                                        <label>Camera Preview</label>
                                        <div id="camera"></div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="subtitle"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.EditorFor(model => model.totalGrams, new { htmlAttributes = new { @class = "form-control", @placeholder = "Total Grams" } })
                                    @Html.ValidationMessageFor(model => model.totalGrams, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.EditorFor(model => model.value, new { htmlAttributes = new { @class = "form-control", @placeholder = "Value" } })
                                    @Html.ValidationMessageFor(model => model.value, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.EditorFor(model => model.principle, new { htmlAttributes = new { @class = "form-control", @placeholder = "principle" } })
                                    @Html.ValidationMessageFor(model => model.principle, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-4">
                                    @Html.EditorFor(model => model.intrest, new { htmlAttributes = new { @class = "form-control", @placeholder = "Intrest" } })
                                    @Html.ValidationMessageFor(model => model.intrest, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.EditorFor(model => model.intrestAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Intrest Amount" } })
                                    @Html.ValidationMessageFor(model => model.intrestAmount, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group col-md-4">
                                    @Html.EditorFor(model => model.deducation, new { htmlAttributes = new { @class = "form-control", @placeholder = "Deducation" } })
                                    @Html.ValidationMessageFor(model => model.deducation, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="text-right">
                        <button type="submit" value="Create" class="btn btn-success">Submit</button>
                        @Html.ActionLink("Cancel", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>

        }

    </div>
</div>
<script language="JavaScript">
    $(function () {
        Webcam.set({
            width: 320,
            height: 240,
            image_format: 'jpeg',
            jpeg_quality: 90
        });
        Webcam.attach('#my_camera');
        Webcam.attach('#camera');
    });
    function take_snapshot() {
        Webcam.snap(function (data_uri) {
            $('#user_img').attr("src", data_uri);
        });
    }
    function Item_snapshot() {
        Webcam.snap(function (data_uri) {
            $('#itemImage').attr("src", data_uri);
        });
    }
</script>