@model issFinacial.Models.VechicleLoanCollection

@{
    ViewBag.Title = "Edit";
}

<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">VechileLoanCollection</span> -Edit</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-bars-alt text-pink"></i>
                    <span>Statistics</span>
                </a>
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-calculator text-pink"></i>
                    <span>Invoices</span>
                </a>
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-calendar5 text-pink"></i>
                    <span>Schedule</span>
                </a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
                <span class="breadcrumb-item active">VechileLoanCollection</span>
            </div>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="#" class="breadcrumb-elements-item">
                    <i class="icon-comment-discussion mr-2"></i>
                    Support
                </a>
                <div class="breadcrumb-elements-item dropdown p-0">
                    <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-gear mr-2"></i>
                        Settings
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                        <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                        <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />


<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">VehicleLoanCOllection</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
            <div class="form-horizontal">


                <div class="form-group col-md-4">
                    <label>Id</label>
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>



                <div class="form-group col-md-4">
                    <label>Collection Date</label>
                    @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CollectionDate, "", new { @class = "text-danger" })
                </div>



                <div class="form-group col-md-4">
                    <label>Payment Type</label>
                    @Html.EditorFor(model => model.PaymentType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PaymentType, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md-4">
                    <label>Loan Number</label>
                    @Html.EditorFor(model => model.LoanNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LoanNumber, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-4">
                    <label>Name</label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-4">
                    <label>Address</label>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Phone Number</label>
                    @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Vechicle Number</label>
                    @Html.EditorFor(model => model.VechicleNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VechicleNumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Vechicle Make</label>
                    @Html.EditorFor(model => model.VehicleMake, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VehicleMake, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Number of Installments</label>
                    @Html.EditorFor(model => model.NumberOfInstallments, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumberOfInstallments, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Select Due Number</label>
                    @Html.EditorFor(model => model.SelectDueNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SelectDueNumber, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Due Date</label>
                    @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Principle Amount</label>
                    @Html.EditorFor(model => model.PrincipleAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PrincipleAmount, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Intrest Amount</label>
                    @Html.EditorFor(model => model.IntrestAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IntrestAmount, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Total Amount</label>
                    @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Late Days</label>
                    @Html.EditorFor(model => model.LateDays, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LateDays, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Late Days Amount</label>
                    @Html.EditorFor(model => model.LateDaysAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LateDaysAmount, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Penalty</label>
                    @Html.EditorFor(model => model.Penalty, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Penalty, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Discount</label>
                    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-4">
                    <label>Net Amount</label>
                    @Html.EditorFor(model => model.NetAmount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NetAmount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="text-right">
                <button type="submit" value="Create" class="btn btn-success">Submit</button>
                @Html.ActionLink("Cancel", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
        }

    </div>
</div>

