@model issFinacial.Models.Customer

@{
    ViewBag.Title = "Detail";
}

<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Customer</span> - Detail</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-bars-alt text-pink"></i>
                    <span>Statistics</span>
                </a>
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-calculator text-pink"></i>
                    <span>Invoices</span>
                </a>
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-calendar5 text-pink"></i>
                    <span>Schedule</span>
                </a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
                <span class="breadcrumb-item active">Customer</span>
            </div>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="#" class="breadcrumb-elements-item">
                    <i class="icon-comment-discussion mr-2"></i>
                    Support
                </a>
                <div class="breadcrumb-elements-item dropdown p-0">
                    <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-gear mr-2"></i>
                        Settings
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                        <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                        <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Employee Details</h5>
                    <div class="header-elements">
                        <div class="list-icons">

                            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
                            @*@Html.ActionLink("Edit", "Edit", new { }, new { @class = "btn btn-success" })*@
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Customer Id</label>:
                                <div class="col-lg-9">

                                    @Html.DisplayFor(model => model.id)
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Id No</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.siNo)

                                </div>
                            </div>

                            @*<div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Customer Name</label>:
                                <div class="col-lg-9">

                                    @Html.DisplayFor(model => model.customerNameTamil)
                                </div>
                            </div>*@
                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Customer Name</label>:
                                <div class="col-lg-9">

                                    @Html.DisplayFor(model => model.customerName)
                                </div>
                            </div>



                            @*<div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Customer Relation</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.customerRelation)
                                </div>
                            </div>*@


                            @*<div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Customer Address</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.customerAddressTamil)
                                </div>
                            </div>*@
                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Customer Address</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.customerAddress)
                                </div>
                            </div>


                            @*<div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Permanant Address</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.permanantAddressTamil)
                                </div>
                            </div>*@
                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Permanant Address</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.permanantAddress)
                                </div>
                            </div>


                            @*<div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Area Name</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.areaNameTamil)
                                </div>
                            </div>*@
                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Area Name</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.areaNameEnglish.name)
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Contact No</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.contactNo)
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Introduce Name</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.introduceName)
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Identity Proof</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.identityProof)
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Customer Type</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.customerType)
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Date of Join</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.dateofJoin)
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Nominee Name</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.nomineeName)
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Nominee Address</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.nomineeAddress)
                                </div>
                            </div>



                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Nominee Number</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.nomineeNumber)
                                </div>
                            </div>



                           



                            <div class="form-group row">
                                <label class="col-lg-2 font-weight-bold">Remark</label>:
                                <div class="col-lg-9">
                                    @Html.DisplayFor(model => model.remark)
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        }
    </div>
</div>
