@model IEnumerable<issFinacial.Models.Customer>

@{
    ViewBag.Title = "Index";
}
<!-- Theme JS files -->


<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Customer</span> - Index</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-bars-alt text-pink"></i>
                    <span>Statistics</span>
                </a>
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-calculator text-pink"></i>
                    <span>Invoices</span>
                </a>
                <a href="#" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-calendar5 text-pink"></i>
                    <span>Schedule</span>
                </a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="~/home/Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
                <span class="breadcrumb-item active">Customer</span>
            </div>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="#" class="breadcrumb-elements-item">
                    <i class="icon-comment-discussion mr-2"></i>
                    Support
                </a>
                <div class="breadcrumb-elements-item dropdown p-0">
                    <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-gear mr-2"></i>
                        Settings
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                        <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                        <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<div class="content">
    <div class="row">
        
        <div class="col-12">
            <div class="card" style="overflow:auto">
                <div class="card">
                   
                </div>
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">Customer</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
                        </div>
                        
                                <button class="" id="btnprint" style="float:right;margin-top:0%">

                                    <i>print</i>
                                </button>

                                <button class="" id="exportexcel" style="float:right;margin-top:0%">

                                    <i>excel</i>
                                </button>

                            </div>

                        </div>



                        <div class="dataTables_wrapper no-footer">
                            <table class="table table-hover display" id="myTable" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Customer Id
                                        </th>


                                        <th>
                                            Customer Name
                                        </th>
                                       

                                        <th>
                                            Customer Address
                                        </th>

                                        <th>
                                            Contact No
                                        </th>
                                        <th>
                                            Introduce Name
                                        </th>

                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.id)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.customerName)
                                            </td>
                                           
                                            <td>
                                                @Html.DisplayFor(modelItem => item.customerAddress)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.contactNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.introduceName)
                                            </td>

                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
        </div>
    </div>
</div>

<script src="~/assets/js/FileSaver.js"></script>
<script src="~/assets/js/xlsx.full.min.js"></script>

<script>
    $(function () {

        $('#btnprint').click(function () {
            $('#header').hide();
            $(this).hide();
            $('#settings').hide();
            $('#Sidemenus').hide();
            $('footer').hide();
            window.print();
            $('#header').show();
            $('#settings').show();
            $('#Sidemenus').show();
            $(this).show();
            $('footer').show();


        });
    });

    $(function () {
        $("#exportexcel").click(function () {
            exportToExcel();
        });
    });

    function exportToExcel() {

        var wscols = [
            { wch: 10 },
            { wch: 20 },
            { wch: 15 },
            { wch: 15 },
            { wch: 15 },
        ];
        var wb = XLSX.utils.table_to_book(document.getElementById("sales"), {
            sheet: "Customer",
            raw: true,
        });
        wb.Sheets["Customer"]["!cols"] = wscols;
        var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
        saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), "Customer Details.xlsx");
    }

</script>